<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

<title>OBPC System</title>

<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form id="formLogin" autocomplete="off" name="formLogin" class="form-signin">

            <div id="validationFormLogin">
                <div><strong id="validationTitleFormLogin"></strong></div>
                <div id="messageFormLogin">
                </div>
            </div>

            <span id="reauth-email" class="reauth-email"></span>
            <input value="washington.vauthier" id="loginFormLogin" type="text" class="form-control" placeholder="Login"
                required autofocus>
            <input value="rizo1973" id="passwordFormLogin" type="password" class="form-control" placeholder="Senha"
                required>
            <div class="checkbox">
                <label>
                    <input id="rememberFormLogin" type="checkbox" value="remember-me"> Lembrar de mim
                </label>
            </div>
            <button class="btn btn-lg btn-block btn-signin">Login</button>
        </form>
        <a href="#" class="forgot-password">
            Esqueceu sua senha?
        </a>
    </div>
</div>

<link href="css/general.css" rel="stylesheet">
<link href="css/login.css" rel="stylesheet">
<script src="js/login.js"></script>

<script src="js/system/httpRequisitions.js"></script>