.navbar {
    height: 60px!important;
    background-color: #1c4966!important;
    border: none!important;
}

.nav-link{
    color: #F7F7F7!important;
}

.sidebar-heading{
    height: 60px!important;
}

i{
    color: #F7F7F7!important;
}